* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --lightB: #31c3bd;
}


body {
    margin: 0;
    background-color: #1A2A33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
}

.menu {
    height: 471px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.player-mark {
    margin: 0;
    height: 205px;
    width: 460px;
    background-color: #1F3641;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #10212A solid 8px;
}

.player-mark-btn {
    background-color: #1A2A33;
    height: 72px;
    width: 412px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#O {
    cursor: pointer;
    padding: 0;
    height: 54px;
    width: 198px;
    border-radius: 10px;
    font: inherit;
    background-color: #A8BFC9;
    border: none;
}

#X {
    cursor: pointer;
    padding: 0;
    height: 54px;
    width: 198px;
    border-radius: 10px;
    font: inherit;
    background-color: #1A2A33;
    border: none;
}

h3, h5 {
    color: #A8BFC9;
    font-family: 'Outfit', sans-serif;
}

h3 {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    letter-spacing: 1.25px;
}

h5 {
    font-size: 16px;
    padding-bottom: 0;
    padding-top: 17px;
    margin: 0;
    letter-spacing: 1px;
}

#CPU, #Player {
    font: inherit;
    font-size: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 460px;
    height: 67px;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#CPU {
    background-color: #F2B137;
    border-bottom: #CC8B13 solid 8px;
}

#Player {
    background-color: #31c3bd;
    margin-top: 20px;
    border-bottom: #118c87 solid 8px;
}


.XnO {
    display: flex;
    width: 71.97px;
    height: 32px;
}

/*-------GAME CONTAINER--------*/
.gameContainer {
    display: none;
    flex-direction: column;
    width: 28.75rem;
    height: 38.938rem
}

#header {
    width: 28.75rem;
    height: 3.25rem;
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

#logo {
    width: 4.498rem;
    height: 2rem;
    align-self: center;
}

#header button {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 0.625rem;
    border: none;
    justify-self: end;
}

#playerTurn {
    width: 8.75rem;
    height: 3.25rem;
    background-color: #1F3641;
    border-bottom: 0.25rem solid #10212A;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

#playerTurn h6 {
    font-size: 1.25rem;
    color: #A8BFC9;
    padding-left: 0.5rem;
}

#gameBoard {
    margin-top: 1.118rem;
    margin-bottom: 1.118rem;
    width: 28.75rem;
    height: 28.813rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.25rem;
}


#gameBoard button {
    height: 8.75rem;
    width: 8.75rem;
    border-radius: 0.93rem;
    cursor: pointer;
    border: none;
    background-color: #1F3641;
    border-bottom: solid 8px #10212A;
}

#restart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#tableScore {
    width: 28.68rem;
    height: 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem
}

#tableScore .score {
    border-radius: 0.938rem;
    width: 8.75rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


#tableScore h6 {
    font-family: 'Outfit', sans-serif;
    font-size: 0.8rem;
    color: #10212A;
    width: 56px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#tableScore h5 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    color: #10212A;
    width: 26px;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 5px;
}


#tableScore #scoreBox1 {
    background-color: #31c3bd;
}

#tableScore #scoreBox2 {
    background-color: #A8BFC9;
}

#tableScore #scoreBox3 {
    background-color: #F2B137;
}


#gameBoard .winning-pattern {
    background-color: #31c3bd;

}

#gameBoard .winning-pattern2 {
    background-color: #F2B137;
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

dialog {
    display: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    /*display: inline-block;*/
    /*vertical-align: middle;*/
    height: 16.513rem;
    width: 100vw;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #1F3641;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30.688rem;
    height: 11rem;
}

.winner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

#modal-content h2 {
    font-family: 'Outfit', sans-serif;
    width: 25.063rem;
    height: 3.125rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0.8rem;
    color: #31c3bd;
}

#modal-content p {
    font-family: 'Outfit', sans-serif;
    color: #A8BFC9;
}

#dial-btns {
    width: 14.875rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#quit-btn {
    font-family: 'Outfit', sans-serif;
    background-color: #A8BFC9;
    border: none;
    border-bottom: solid 4px #6b8997;
    border-radius: 0.625rem;
    width: 4.75rem;
    height: 3.25rem;
    cursor: pointer;
}

#next-round {
    font-family: 'Outfit', sans-serif;
    background-color: #F2B137;
    border: none;
    border-bottom: solid 4px #cc8b13;
    border-radius: 0.625rem;
    width: 9.125rem;
    height: 3.25rem;
    cursor: pointer;
}


/*@-webkit-keyframes modal-dialog-animation {*/
/*    from{*/
/*        top: -100px;*/
/*        opacity: 0;*/
/*    }*/

/*    to{*/
/*        top: 0px;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes modal-dialog-animation {*/
/*    from{*/
/*        top: -100px;*/
/*        opacity: 0;*/
/*    }*/

/*    to{*/
/*        top: 0px;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/* JS TO ADD */



